.legend {
  position: absolute;
  left: 620px;
  top: 20px;
  list-style: none;
  width: 440px;
  li {
    span {
      vertical-align: middle;
      width: 30px;
      height: 20px;
      display: inline-block;
      margin-right: 10px;
    }
    margin-bottom: 5px;

    input {
      margin: 0 7px;
      text-align: right;
    }
  }
}

.chart {
  position: absolute;
  top: 330px;
  right: 20px;
  left: 630px;
  height: 400px;
}

.buttons {
  button {
    display: block;
    margin: 10px 0;
  }
}

canvas {
  cursor: crosshair;
}